.project-card {
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

.project-header {
    position: relative;
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-layer {
    width: 100%;
    height: 100%;
    background-color: #105e66;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
}

.hidden-layer {
    display: none;
}

.hidden-titles {
    display: none;
}

.project-layer h4,
.project-layer h5 {
    margin: 0;
    text-align: center;
    color: white;
    align-self: center;
    font-size: 1.1em;
}

.project-content {
    background-color: #303030;
    margin: 0;
    padding: 10px 5%;
    border-radius: 0 0 8px 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project-titles {
    width: 100%;
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
}

.project-content h4,
.project-content h5 {
    color: rgb(183, 21, 64);
    margin: 2px;
    text-align: center;
    align-self: center;
    font-size: 1.1em;
}

.project-content .empty-circle {
    border: 1px #105e66 solid;
}

.project-content .empty-circle:before,
.project-content .empty-circle:after {
    border-top: 1px #105e66 solid;
}

.project-details {
    margin-bottom: 15px;
}

.project-details p {
    margin: 0 0 10px 0;
}

.project-details .fa {
    margin-right: 5px;
}

.project-links {
    margin-bottom: 10px;
}

.project-links a {
    background-color: hsl(0,3%,5%);
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    color: rgb(183, 21, 64);
    text-decoration: none;
}

.project-links i {
    margin-right: 5px;
}

.project-links a:first-child {
    margin-right: 15px;
}

.hidden-project-content {
    display: none;
}

@media (min-width: 768px) {
    .project-card {
        width: 100%;
        background-color: rgb(255, 255, 255);
    }

    .project-header {
        width: 100%;
        display: flex;
        justify-content: center;
        border-radius: 5px 5px 0 0;
    }
}

@media (min-width: 1024px) {
    .project-card {
        display: flex;
    }

    .project-layer {
        display: none;
    }

    .project-header {
        width: 40%;
        align-items: center;
    }

    .project-header,
    .project-card img {
        border-radius: 5px 0 0 5px;
    }

    .project-titles {
        display: flex;
    }

    .project-content {
        width: 60%;
        border-radius: 0 8px 8px 0;
        display: flex;
    }

    .project-content h5 {
        margin: 2px 2px 20px;
    }

    .splitter {
        display: none;
    }
}