@font-face {
    font-family: 'Caviar Dreams';
    font-style: normal;
    font-weight: 400;
    src:
        local('Caviar Dreams'),
        url("../../public/fonts/CaviarDreams_Bold.ttf");
}

@font-face {
     font-family: 'Raleway';
     font-style: normal;
     font-weight: 400;
     src:
         local('Raleway-regular'),
         url("../../public/fonts/Raleway-Medium.ttf");
 }

html {
    font-family: 'Raleway';
    font-size: 0.8em;
}

body {
    margin: 0;
    background-color: rgb(245, 245, 245);
}

header li a,
footer li a {
    text-decoration: none;
    color: midnightblue;
    font-weight: 700;
}

h3 {
    font-family: 'Caviar Dreams';
}

.content {
    margin: 91px 7% 50px; /* 150px top for tablets & desktop */
}

.content > ul,
.content > div {
    margin: 25px 0 0;
}

.rounded {
    border-radius: 7px;
    margin: 5px;
    padding: 5px 8px;
    border: 1px white solid;
    color: white;
    box-shadow: 3px 3px darkgrey;
}

.curved-image {
    border-radius: 5px 5px 5px 5px;
}

.uncurved-image {
    border-radius: 5px 5px 0 0;
}

h3 {
    text-align: center;
}

h4,
h5 {
    text-align: center;
    color: white;
    align-self: center;
    font-size: 1.1em;
}

h5 {
    font-style: italic;
}

@media (min-width: 768px) {
    html {
        font-size: 0.9em;
    }

    h3 {
        font-size: 1.1em;
    }

    .content > ul,
    .content > div {
        margin: 45px 50px 0;
    }
}