@font-face {
    font-family: 'Caviar Dreams';
    font-style: normal;
    font-weight: 400;
    src:
        local('Caviar Dreams'),
        url("../../public/fonts/CaviarDreams_Bold.ttf");
}

body {
    margin: 0;
    background-color: rgb(245, 245, 245);
}


header li a,
footer li a {
    text-decoration: none;
    color: midnightblue;
    font-weight: 700;
    font-size: 0.9em;
}

.content {
    margin: 91px 15px 50px 15px; /* 150px top for tablets & desktop */
}

.rounded {
    border-radius: 7px;
    margin: 5px;
    padding: 5px 8px;
    border: 1px black solid;
    color: white;
    box-shadow: 3px 3px darkgrey;
}