@font-face {
    font-family: 'Caviar Dreams';
    font-style: normal;
    font-weight: 400;
    src:
        local('Caviar Dreams'),
        url("../../public/fonts/CaviarDreams_Bold.ttf");
}

@font-face {
     font-family: 'Raleway';
     font-style: normal;
     font-weight: 400;
     src:
         local('Raleway-regular'),
         url("../../public/fonts/Raleway-Medium.ttf");
 }

html {
    font-family: 'Raleway';
    font-size: 0.8em;
}

body {
    margin: 0;
    background-color: hsl(0,3%,16%);
    color: white;
}

header li a {
    text-decoration: none;
    color: rgb(183, 21, 64);
    font-weight: 700;
    font-size: 1.1em;
}

h3 {
    font-family: 'Caviar Dreams';
    color: rgb(183, 21, 64);
}

.content {
    margin: 91px 10% 50px;
}

.rounded {
    border-radius: 7px;
    margin: 5px;
    padding: 5px 8px;
    border: 1px white solid;
    color: white;
    box-shadow: 3px 3px darkgrey;
}

.curved-header {
    border-radius: 8px;
}

.uncurved-header {
    border-radius: 8px 8px 0 0;
}

.curved-image {
    border-radius: 8px;
}

.uncurved-image {
    border-radius: 8px 8px 0 0;
}

h3 {
    text-align: center;
}

@media (min-width: 768px) {
    html {
        font-size: 0.9em;
    }

    .content {
        margin: 180px 25% 90px;
    }

    h3 {
        font-size: 1.1em;
    }
}

@media (min-width: 1024px) {
    h3 {
        font-size: 1.4em;
    }
}