.static-menu {
    margin: 0;
    padding: 0;
    background-color: hsl(0,3%,5%);
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #FFF;
}

.static-menu li {
    margin: 0;
    width: 25%;
    height: 100%;
    list-style: none;
    padding: 10px 0;
    text-decoration: none;
}

@media (min-width: 768px) {
    .static-menu {
        display: flex;
        justify-content: center
    }

    .static-menu li {
        width: 20%;
    }
}

@media (min-width: 1024px) {
    .static-menu li {
        width: 15%;
    }
}