img {
    width: 100%;
}

.coords {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.coords div {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coords > div {
    margin: 10px 0;
}

.coords h4 {
    color: black;
    margin: 0;
}

.coords p {
    margin: 0;
}

@media (min-width: 768px) {
    .coords p {
        margin: 0;
    }
}