.contact-container {
    display: flex;
    flex-direction: column;
}

.contact-container img {
    width: 100%;
}

.coords-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.coords-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.coords {
    margin: 10px 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.coords-container h4 {
    color: rgb(183, 21, 64);
    margin: 0;
}

.coords-container p {
    margin: 0;
}

.coords i {
    font-size: 3em;
    color: rgb(183, 21, 64);
    margin-right: 15px;
}

@media (min-width: 768px) {
    .coords-container p {
        margin: 0;
    }
}

@media (min-width: 1024px) {
    .contact-container  {
        flex-direction: row;
        justify-content: space-between;
    }

    .contact-container img {
        width: 50%;
        align-self: center;
    }

    .contact-info {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .teaser-container p:first-child {
        margin-top: 0;
    }

    .coords-container {
        margin-top: 40px;
        align-items: flex-start;
    }
}