.value-box img {
    width: 100%;;
}

.value-box {
    position: relative;
    margin: 40px auto 15px;
}

.value-box p {
    position: absolute;
    font-size: 2.7em;
    color: rgb(183, 21, 64);
}

.teamwork-value,
.curiosity-value,
.rigor-value {
    bottom: 50px;
}

.curiosity-value,
.teamwork-value {
    right: 10%;
}

.rigor-value {
    left: 10%;
}

.value-box p {
    margin: 0;
}

.subtitled {
    position: relative;
    text-align: justify;
}

.subtitled:after {
    content: "";
    position: absolute;
    height: 10px;
    border-bottom: 1px solid rgb(183, 21, 64);
    bottom: -20px;
    right: 25%;
    width: 50%;
}

@media (min-width: 768px) {
    .subtitled:after {
        bottom: -20px;
    }

    .teamwork-value,
    .curiosity-value,
    .rigor-value {
        bottom: 70px;
    }

}

@media (min-width: 1024px) {
    .content {
        margin: 180px 15% 90px;
    }

    .value-box {
        display: flex;
        justify-content: center;
    }

    .value-box img {
        width: 50%;
    }

    .teamwork-value,
    .curiosity-value,
    .rigor-value {
        bottom: 100px;
    }

    .curiosity-value,
    .teamwork-value {
        right: 30%;
    }

    .rigor-value {
        left: 30%;
    }
}