.value-box img {
    width: 100%;;
}

.value-box {
    position: relative;
    margin: 40px auto 15px;
}

.value-box p {
    position: absolute;
    font-size: 2.7em;
    color: rgb(242, 67, 114);
}

.teamwork-value,
.curiosity-value,
.rigor-value {
    bottom: 80px;
}

.curiosity-value,
.teamwork-value {
    right: 25px;
}

.rigor-value {
    left: 25px;
}

.value-box p {
    margin: 0;
}

.subtitled {
    position: relative;
    text-align: justify;
}

.subtitled:after {
    content: "";
    position: absolute;
    height: 10px;
    border-bottom: 1px solid rgb(183, 21, 64);
    bottom: -10px;
    right: 25%;
    width: 50%;
}

@media (min-width: 768px) {
    .subtitled:after {
        bottom: -20px;
    }
}