.content > ul,
.content > div {
    margin: 10px 0;
}

.project-type-list,
.project-list,
.project-details {
    list-style: none;
    margin: 0;
    padding: 0;
}

.project-type-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.project-type-list li {
    background-color: midnightblue;
}

.project-box {
    height: 135px;
    width: 100%;
    border: 1px dimgrey solid;
    background-color: rgb(249, 249, 249);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px;
}

.project-box img {
    width: 100%;
}

.project-layer,
.project-titles {
    width: 100%;
    height: 135px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-layer {
    opacity: 0.4;
}

.project-box p {
    margin: 0;
}

.project-titles {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-description {
    font-size: 2.2em;
    color: white;
}

h3,
h4 {
    margin: 10px;
    text-align: center;
}

h4 {
    font-style: italic;
}

.project-details {
    padding: 10px;
}

.project-details a {
    color: darkred;
}

.project-details i {
    margin: 0 5px 0;
}

.project-layer {
    background-color: white;
}