.project-type-list {
    list-style: none;
    margin: 10px 5%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.project-details ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.project-details i {
    margin: 0 5px 0;
}

.project-type-list li {
    background-color: midnightblue;
}

.project-box {
    margin: 10px 5%;
    padding: 15px;
    border: 1px dimgrey solid;
    background-color: rgb(249, 249, 249);
    box-shadow: 2px 2px dimgrey;
    border-radius: 5px;
}

.project-summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

h3,
.project-summary p {
    width: 80%;
}

h3 {
    margin: 0;
    color: midnightblue;
    font-size: 1.2em;
}

.project-box p {
    margin: 0;
}

.project-summary {
    display: flex;
    flex-direction: row;

}

.project-summary button {
    padding: 5px 8px;
    border-radius: 2px;

    background-color: dodgerblue;
    border: 1px black solid;
    color: white;
    box-shadow: 3px 3px darkgrey;
}

.project-summary i {
    font-size: 2.2em;
    color: midnightblue;
}

.project-details a {
    color: darkred;
}