.workplace-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.workplace-card {
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

.workplace-header {
    position: relative;
}

.workplace-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.workplace-layer {
    width: 100%;
    height: 100%;
    background-color: #074174;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px
}

.hidden-layer {
    display: none;
}

.hidden-titles {
    display: none;
}

.workplace-layer h4,
.workplace-layer h5 {
    margin: 0;
    text-align: center;
    color: white;
    align-self: center;
    font-size: 1.1em;
}

.splitter {
    align-self: center;
    margin: 5px 0;
}

.empty-circle {
    width: 12px;
    height: 12px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    border: 1px white solid;
}

.empty-circle:before,
.empty-circle:after {
    content: "";
    position: absolute;
    border-top: 1px white solid;
    top: 50%;
    width: 75px;
}

.empty-circle:before {
    right: 101%;
}

.empty-circle:after {
    left: 101%;
}

.workplace-content {
    background-color: #303030;
    margin: 0;
    padding: 10px 5%;
    border-radius: 0 0 8px 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.workplace-titles {
    width: 100%;
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
}

.workplace-content h5 {
    color: rgb(183, 21, 64);
    margin: 2px;
    text-align: center;
    align-self: center;
    font-size: 1.1em;
}

.workplace-content .empty-circle {
    border: 1px #105e66 solid;
}

.workplace-content .empty-circle:before,
.workplace-content .empty-circle:after {
    border-top: 1px #105e66 solid;
}

.workplace-details p {
    margin: 0 0 10px 0;
}

.workplace-details .fa {
    margin-right: 5px;
}

.hidden-workplace-content {
    display: none;
}

@media (min-width: 768px) {
    .workplace-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .workplace-card {
        width: 100%;
        background-color: rgb(255, 255, 255);
    }

    .workplace-header {
        width: 100%;
        display: flex;
        justify-content: center;
        border-radius: 5px 5px 0 0;
    }
}

@media (min-width: 1024px) {
    .workplace-card {
        display: flex;
    }

    .workplace-layer {
        display: none;
    }

    .workplace-header {
        width: 40%;
        align-items: center;
    }

    .workplace-header,
    .workplace-card img {
        border-radius: 5px 0 0 5px;
    }

    .workplace-titles {
        display: flex;
    }

    .workplace-content {
        width: 60%;
        border-radius: 0 8px 8px 0;
        display: flex;
    }

    .workplace-content h5 {
        margin: 2px 2px 20px;
    }

    .splitter {
        display: none;
    }
}