.workplace-list {
    padding: 0;
}

.workplace-box {
    margin-bottom: 20px;
    box-shadow: 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    list-style: none;
}

.workplace-header {
    height: 126px;
    position: relative;
}

.workplace-header img {
    width: 100%;
    max-height: 128px;
}

.workplace-layer {
    width: 100%;
    height: 128px;
    background-color: #074174;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px
}

.hidden-layer {
    display: none;
}

.workplace-layer h4,
.workplace-layer h5 {
    margin: 0;
}

.workplace-box span {
    font-size: 1.4em;
    text-decoration: none;
}

.workplace-box button {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    padding: 5px 8px;
    background-color: dodgerblue;
    border: 1px black solid;
}

.workplace-header i {
    font-size: 2.2em;
    color: midnightblue;
    margin-right: 5%;
    padding: 5px;
}

.workplace-content {
    margin: 10px 5%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.workplace-titles {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workplace-content h4,
.workplace-content h5 {
    color: black;
    margin: 2px;
}

.workplace-content .empty-circle {
    border: 1px #105e66 solid;
}

.workplace-content .empty-circle:before,
.workplace-content .empty-circle:after {
    border-top: 1px #105e66 solid;
}

.workplace-content i {
    margin-right: 10px;
}

.workplace-details {
    margin-bottom: 10px;
}

.workplace-details p {
    margin: 0 0 10px 0;
}