.workplace-box {
    margin: 10px 5%;
    border: 1px dimgrey solid;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 8px;
}

.workplace-header img {
    width: 96%;
    height: 170px;
    border: 1px grey solid;
    border-radius: 8px 8px 0 0;
    display: block;
    margin: 6px auto auto;
}

.workplace-layer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}

.workplace-layer p {
    margin-left: 5%;
    font-size: 0.9em;
}

.workplace-layer p {
    display: block;
}

.workplace-box span {
    font-size: 1.4em;
    text-decoration: none;
}

.workplace-box button {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    padding: 5px 8px;

    background-color: dodgerblue;
    border: 1px black solid;
}

.workplace-box div:nth-child(2) p:nth-child(1),
.workplace-box div:nth-child(2) p:nth-child(3) {
    font-weight: bold;
}

.workplace-header i {
    font-size: 2.2em;
    color: midnightblue;
    margin-right: 5%;
    padding: 5px;
}

.workplace-content {
    display: none;
    margin: 0 5%;
}