header {
    position: fixed;
    height: 160px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: rgb(245, 245, 245);
}

.banner {
    height: 100px;
    padding: 0 5%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(183, 21, 64);
}

h1, h2 {
    width: 40%;
    margin: 0;
    text-align: center;
    color: white;
}

header ul {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px rgb(183, 21, 64) solid;

    text-align: center;
    color: #FFF;
}

header li {
    margin: 0;
}

header li {
    width: 25%;
    list-style: none;
    padding: 8px 15px;
    text-decoration: none;
}