header {
    position: fixed;
    height: 75px; /* 134px for tablets & desktop */
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: rgb(245, 245, 245);
    font-family: 'Caviar Dreams';
}

.banner {
    height: 65px;
    padding: 5px 5%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-image: radial-gradient(circle at top left, rgb(242, 67, 114), rgb(183, 21, 64));
}

.banner img {
    width: 15%;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}

h1, h2 {
    font-size: 0.9em;
    margin: 0;
    text-align: center;
    color: white;
}

.menu-button {
    position: absolute;
    right: 20px;
    background-color: rgba(100, 100, 100, 0.2);
    border: none;
    width: 35px;
    height: 35px;
    font-size: 0.5em;
}

.menu-button::before {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
    background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
    content: ""
}

.stable-menu {
    margin: 0;
    padding: 0;

    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px rgb(183, 21, 64) solid;

    text-align: center;
    color: #FFF;
}

.stable-menu li {
    margin: 0;
    width: 25%;
    height: 100%;
    list-style: none;
    padding: 8px 0;
    text-decoration: none;
}

.dynamic-menu-container {
    margin: 0;
    padding: 50px 0;
    border-top: 1px solid white;
    position: fixed;
    top: 75px;
    bottom: 0px;
    background-image: radial-gradient(circle at bottom left, rgb(242, 67, 114), rgb(183, 21, 64));
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-menu,
.footer-menu {
    padding: 0;
}

.dynamic-menu-container li {
    padding: 0;
    list-style: none;
}

.dynamic-menu-container a {
    display: block;
    padding: 12px 20px;
    color: white;
    /* cursor */
}