header {
    position: fixed;
    height: 75px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    font-family: 'Caviar Dreams';
}

.banner {
    height: 65px;
    padding: 5px 5%;
    background-color: hsl(0,3%,2%);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.banner img {
    width: 50px;
    height: 70px;
    object-fit: cover;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}

h1, h2 {
    margin: 0;
    text-align: center;
    color: rgb(183, 21, 64);
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1em;
}

.menu-button {
    position: absolute;
    right: 20px;
    background-color: hsl(0,3%,2%);
    border: none;
    width: 35px;
    height: 35px;
    font-size: 0.5em;
}

.menu-button::before {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
    background: linear-gradient(
            to bottom,
            transparent, transparent 10%,
            white 10%, white 26%,
            transparent 26%, transparent 42%,
            white 42%, white 58%,
            transparent 58%, transparent 74%,
            white 74%, white 90%,
            transparent 90%, transparent
    );
    content: ""
}

.static-menu {
    margin: 0;
    padding: 0;
    background-color: hsl(0,3%,5%);
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #FFF;
}

.static-menu li {
    margin: 0;
    width: 25%;
    height: 100%;
    list-style: none;
    padding: 10px 0;
    text-decoration: none;
}

.dynamic-menu-container {
    margin: 0;
    padding: 50px 0;
    position: fixed;
    top: 75px;
    bottom: 0px;
    background-color: rgb(183, 21, 64);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.dynamic-menu-container li {
    padding: 0;
    list-style: none;
}

.dynamic-menu-container a {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 12px 20px;
    color: white;
    cursor: pointer;
}

@media (min-width: 768px) {
    header {
        height: 150px;
    }

    .banner {
        height: 100px;
        padding: 5px 15%;
        background-color: hsl(0,3%,16%);
        justify-content: center;
    }

    .menu-button {
        display: none;
    }

    .banner img {
        width: 70px;
        height: 120px;
    }

    .static-menu {
        display: flex;
        justify-content: center
    }

    .static-menu li {
        width: 20%;
    }

    .title {
        height: 70px;
        margin-left: 40px;
        justify-content: space-around;
    }

    h1 {
        font-size: 1.6em;
    }

    h2 {
        font-size: 1.3em;
        align-self: flex-end;
    }
}

@media (min-width: 1024px) {
    .title {
        width: 35%;
    }

    .static-menu li {
        width: 15%;
    }
}