.value-box img {
    width: 100%;
    border-radius: 8px;
    border: hsl(0,3%,5%);
}

.value-box {
    position: relative;
    margin: 40px auto 15px;
}

.value-box p {
    position: absolute;
    font-size: 2.7em;
    color: rgb(183, 21, 64);
}

.teamwork-value,
.curiosity-value,
.rigor-value {
    bottom: 50px;
}

.curiosity-value,
.teamwork-value {
    right: 10%;
}

.rigor-value {
    left: 10%;
}

.value-box p {
    margin: 0;
}

.speech-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(0,3%,5%);
    padding: 5px 15px;
    border-radius: 8px;
}

.speech-box i {
    font-size: 1.5em;
}

.speech-box i {
    align-self: flex-start;
    margin-top: 10px;
}

.value-speech {
    width: 80%;
    text-align: justify;
}

@media (min-width: 768px) {
    .teamwork-value,
    .curiosity-value,
    .rigor-value {
        bottom: 70px;
    }
}

@media (min-width: 1024px) {
    .value-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 40px auto 15px;
    }

    .value-box {
        margin: 0;
        width: 40%;
        height: 220px;
        overflow: hidden;
    }

    .value-box img {
        border-radius: 0;
    }

    .teamwork-value,
    .curiosity-value,
    .rigor-value {
        top: 77px;
        left: 20%;
    }

    .speech-box {
        width: 50%;
        margin: auto 0;
    }
}